---
http_interactions:
- request:
    method: patch
    uri: https://harvest.greenhouse.io/v2/users/enable
    body:
      encoding: UTF-8
      string: '{"user":{"employee_id":"30928902"}}'
    headers:
      Authorization:
      - Basic MDc4YjY3lkjlNjg5MTIzNjNiZjFiNjdmNWY4MmE2NDE3YTAtMzo=
      On-Behalf-Of:
      - '4198051003'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"id":4315648003,"name":"Pika Pikachu","first_name":"Pika","last_name":"Pikachu","primary_email_address":"pikachu@testing.com","updated_at":"2021-03-03T18:16:18.676Z","created_at":"2021-03-03T18:15:13.950Z","disabled":false,"site_admin":false,"emails":["pikachu@testing.com"],"employee_id":"30928902","linked_candidate_ids":[]}'
  recorded_at: Wed, 03 Mar 2021 18:16:19 GMT
recorded_with: VCR 6.0.0
