---
http_interactions:
- request:
    method: patch
    uri: https://harvest.greenhouse.io/v2/users/enable
    body:
      encoding: UTF-8
      string: '{"user":{"email":"pikachu@testing.com"}}'
    headers:
      Authorization:
      - Basic MDc4YjY3lkjlNjg5MTIzNjNiZjFiNjdmNWY4MmE2NDE3YTAtMzo=
      On-Behalf-Of:
      - '4198040003'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 403 Forbidden
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Access denied"}]}'
  recorded_at: Wed, 03 Mar 2021 18:16:21 GMT
recorded_with: VCR 6.0.0
