---
http_interactions:
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/candidates/15675032003
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic dGVzdGlulkjljlZy0xMjM0Og=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":15675032003,"first_name":"Adam","last_name":"Levin","company":"stealth
        startup","title":"boss","created_at":"2020-11-04T23:09:21.253Z","updated_at":"2021-02-09T19:26:23.252Z","last_activity":"2021-02-09T19:26:23.221Z","is_private":false,"photo_url":null,"attachments":[{"filename":"Adam_Levin_-_Offer_Packet_2021-02-09_(Private).pdf","url":"https://grnhse-ghr-prod-s3.s3.amazonaws.com/person_attachments/data/247/923/420/original/Adam_Levin_-_Offer_Packet_2021-02-09_%28Private%29.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAVQGOLGY3WPXPAUKJ%2F20210311%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210311T005431Z\u0026X-Amz-Expires=604800\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=29aba16f87d4a016f561225ab310d13d7e09b51df51fe534035e1109b0a27de0","type":"offer_packet"},{"filename":"_69_set_menu_august_2019
        (1).pdf","url":"https://grnhse-ghr-prod-s3.s3.amazonaws.com/person_attachments/data/171/349/600/original/_69_set_menu_august_2019%20%281%29.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAVQGOLGY3WPXPAUKJ%2F20210311%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210311T005431Z\u0026X-Amz-Expires=604800\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=3e3d3913ef30f1812680a970d8ec9ff2c75ba5ae7dffedc8dfe88a935fdd661c","type":"resume"}],"application_ids":[17522853003],"phone_numbers":[{"value":"12086546565","type":"home"}],"addresses":[],"email_addresses":[{"value":"eel-is-the-goat@email.com","type":"personal"}],"website_addresses":[],"social_media_addresses":[],"recruiter":{"id":4198050003,"first_name":"Jonny","last_name":"Johnson","name":"Jonny
        Johnson","employee_id":null},"coordinator":null,"can_email":true,"tags":["nice"],"applications":[{"id":17522853003,"candidate_id":15675032003,"prospect":false,"applied_at":"2020-11-04T23:09:21.290Z","rejected_at":null,"last_activity_at":"2021-02-09T19:26:23.221Z","location":null,"attachments":[{"filename":"Adam_Levin_-_Offer_Packet_2021-02-09_(Private).pdf","url":"https://grnhse-ghr-prod-s3.s3.amazonaws.com/person_attachments/data/247/923/420/original/Adam_Levin_-_Offer_Packet_2021-02-09_%28Private%29.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAVQGOLGY3WPXPAUKJ%2F20210311%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210311T005431Z\u0026X-Amz-Expires=604800\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=29aba16f87d4a016f561225ab310d13d7e09b51df51fe534035e1109b0a27de0","type":"offer_packet"},{"filename":"_69_set_menu_august_2019
        (1).pdf","url":"https://grnhse-ghr-prod-s3.s3.amazonaws.com/person_attachments/data/171/349/600/original/_69_set_menu_august_2019%20%281%29.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAVQGOLGY3WPXPAUKJ%2F20210311%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210311T005431Z\u0026X-Amz-Expires=604800\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=3e3d3913ef30f1812680a970d8ec9ff2c75ba5ae7dffedc8dfe88a935fdd661c","type":"resume"}],"source":{"id":4000171003,"public_name":"Social
        media presence"},"credited_to":{"id":4198050003,"first_name":"Jonny","last_name":"Johnson","name":"Jonny
        Johnson","employee_id":null},"rejection_reason":null,"rejection_details":null,"jobs":[{"id":4159343003,"name":"Senior
        Software Engineer"}],"status":"active","current_stage":{"id":5109223003,"name":"Application
        Review"},"answers":[],"prospective_department":null,"prospective_office":null,"prospect_detail":{"prospect_pool":null,"prospect_stage":null,"prospect_owner":null}}],"educations":[],"employments":[],"linked_user_ids":[],"custom_fields":{"desired_salary":null,"start_date":null,"currency":null,"signing_bonuus":null},"keyed_custom_fields":{"salary":null,"start_date":null,"desired_salary":null,"currency":null,"signing_bonuus":null}}'
  recorded_at: Thu, 11 Mar 2021 00:54:31 GMT
recorded_with: VCR 6.0.0
