---
http_interactions:
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/applications/123456/offers/current_offer
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic MDc4YjY3lkjlNjg5MTIzNjNiZjFiNjdmNWY4MmE2NDE3YTAtMzo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":4181733003,"version":1,"application_id":123456,"created_at":"2020-12-21T21:07:03.290Z","updated_at":"2021-01-06T18:51:49.525Z","sent_at":null,"resolved_at":null,"starts_at":"2020-12-04","status":"unresolved","job_id":4159343003,"candidate_id":19301049003,"opening":null,"custom_fields":{"employment_type":"Full-time"},"keyed_custom_fields":{"employment_type":{"name":"Employment
        Type","type":"single_select","value":"Full-time"}}}'
  recorded_at: Tue, 02 Feb 2021 17:49:32 GMT
recorded_with: VCR 6.0.0
